header{
    display: flex;
    justify-content: space-around;
    background-color:#000b18;
    font-family: 'Fontdiner Swanky', cursive;
}

.title{
    display: inline-block;
    color: white;
}

#header_btn{
    width: 120px;
    height: 35px;
    align-items: center;
    font-size: 15px;
    font-family: 'Fontdiner Swanky', cursive;
    background-color: white;
    color: #000b18;
    border-radius: 20px;
    margin-top: 30px;
}

footer{
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: #000b18;
    font-family: 'Fontdiner Swanky', cursive;
}
